
:root {
    --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
  
  }
*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background: black;
}
#bubble{
    position: absolute;
    top:15vh;
    left:15vw;
    background: wheat;
    width: 474px;
    height: 475px;
    background-image: var(--gradient);
    background-clip:content-box;
    color: transparent;
    background-size: 300%;
    transition: background-position 1s;
    border-radius: 30% 70% 27% 73% / 66% 67% 33% 34%  ;
    animation: bubbleAnimation 8s infinite;
    z-index: 2;
}
@keyframes bubbleAnimation{
    0%{
        border-radius: 30% 70% 27% 73% / 66% 67% 33% 34% ;
        transform: translate(0px, 0px);
        
    }
    50%{
        border-radius: 70% 30% 56% 44% / 49% 76% 24% 51%    ;
        transform: translate(150px, 230px);
        
    }
    100%{
        border-radius: 74% 26% 40% 60% / 36% 31% 69% 64% ;
        transform: translate(300px, 80px);

    }

}

#button-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}
#text-container{
    width: 100%;
    height: 20vh;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    

}
#text{
    color: antiquewhite;
    position: absolute;
    top:15vh;
    left:12vw;
    font-size: 1.9rem;
}
/* buttons */

.container{
    position: absolute;
    margin: 20px 20px;
    padding: 10px 10px;
    display: flex;
    background: grey;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(5, 5, 5), 0 0 3px grey;

}

/* good buttons */

#good-button-container{
    top:40vh;
    left:28vw;
    width:calc(7vw + 10%);
    height: calc(35vh + 10%);
}

.good-button{
    position: relative;
    padding: 5px;
    box-shadow: 0 0 4px black;
    text-transform: uppercase;
    cursor: pointer;
}

#button-1{
    transition: 0.6s;
    position: relative;
    border: 1px solid black;
}


#button-1:hover{
    opacity: 0.5;
}

#button-2{
    color: aliceblue;
    border-radius: 9999px;
    border: 3px solid rgb(15, 15, 15);
    box-shadow: inset 0 0 7px blue, 2px 0 4px black ;
    padding:7px 7px;
    transition: 1s;
    background: linear-gradient(90deg, #ee6352, purple, #ee6352);
  background-size: 300%;
  background-position: left;
  transition: background-position 650ms;
}
/* #button-2::before{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    display: block;
    width: 0vw;
    height: 100%;
    opacity: 0;
    background: rgb(0, 4, 255);
    transition: 0.5s;
    border-radius: 9999px;
    box-shadow: inset 0 0 5px black;
}

#button-2:hover::before{
    opacity: 1;
    width: 100%;
    
} */
#button-2:hover{
    background-position: right;
}
#button-text{
    z-index: 2;
    position: relative;
}
#button-3{
    border-radius: 6px;
    border: 2px solid black;
    transition: 0.3s linear;
}

#button-3::before{
    content: '';
    height: 3px;
    width: 99%;
    border-radius: 5px;
    position: absolute;
    bottom:-0.8vh;
    left: 0vw;
    display: block;
    background: red;
    transform: scale(0) translateX(1px);
    transition: 0.4s linear;
    opacity: 0;

}

#button-3:hover::before{
    transform: scale(1);
    left:0;
    opacity: 1;
}
#button-3:hover{
    box-shadow: 0 0 8px black;
    background: black;
    color: antiquewhite;
}

/* bad buttons */

#bad-button-container{
    top:40vh;
    right:28vw;
    width:calc(7vw + 10%);
    height: calc(35vh + 10%);
}


#button-4{
    background: gray;
    border: none;
}
#button-5{
    padding:8px;
    border-radius: 9999px;
    box-shadow: inset 0px 0px 3px purple, 0px 0px 15px 14px blue, 0px 0px 20px 20px red, 0px 0px 30px 30px green;
    border: 3px solid orange;
    transition: 1s;
    font-family:fantasy;
    text-transform: uppercase;
    font-weight: 100;
}
#button-5::before{
    content: '';
    color: brown;
}
#button-5:hover{
    background-color: aqua;
    transform: rotate(270deg);
    padding: 17px;
    box-shadow: none;

}
#button-6{
   
    width:65px;
    height: 25px;

}
#button-6:hover{
    animation: changeButtonSize 0.8s linear;
}

@keyframes changeButtonSize{
    0%{
        width:65px;
    height: 25px;
    border-radius: 0;

    }
    25%{
        width:67px;
        height: 27px;
        border-radius: 24px;

    }
    50%{
        width:65px;
        height: 25px;
        border-radius: 0;

    }
    75%{
        width:67px;
        height: 27px;
        border-radius: 24px;

    }
    100%{
        width:65px;
        height: 25px;
        border-radius: 0px;

    }
}